/* Fonts */

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/cuprum.woff2) format("woff2"),
    url(../fonts/cuprum.woff) format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/cuprumbold.woff2) format("woff2"),
    url(../fonts/cuprumbold.woff) format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url(../fonts/cuprumitalic.woff2) format("woff2"),
    url(../fonts/cuprumitalic.woff) format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url(../fonts/cuprumbolditalic.woff2) format("woff2"),
    url(../fonts/cuprumbolditalic.woff) format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ptsans.woff2) format("woff2"),
    url(../fonts/ptsans.woff) format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ptsansbold.woff2) format("woff2"),
    url(../fonts/ptsansbold.woff) format("woff");
}

/* Variables */

:root {
  --accent-color: #EE3643;
  --bg-dark: #293449;
  --bg-light: #F1F5F7;
  --bg-extra-light: #F9F5F0;
  --bg-modals: #F4F4F4;
  --bg-catalog: #F7F3EC;
  --border-color: #EAEAEA;
  --click-accent: #BA2732;
  --click-header: #161D29;
  --click-menu: #1D2739;
  --click-order: #518534;
  --click-user: #C5C5C5;
  --click-user-30: rgba(197, 197, 197, 0.3);
  --hover-icon: #3D546F;
  --hover-accent: #CA2C37;
  --hover-order: #5FBB2D;
  --hover-border: #32425C;
  --hover-paggination: #B5B5B5;
  --order-color: #63A63E;
  --paggination-color: #E5E5E5;
  --range: #FFBF47;
  --range-tools: #3BBCE3;
  --range-machines: #DC91D8;
  --range-sale: #8ED78F;
  --shadow-order: #367315;
  --socials-color: #212A3A;
  --text-black: #000000;
  --text-black-15: rgba(0, 0, 0, 0.15);
  --text-black-10: rgba(0, 0, 0, 0.1);
  --text-black-25: rgba(0, 0, 0, 0.25);
  --text-dark: #32425C;
  --text-light: #FFD180;
  --text-extra-light: #A9A9A9;
  --text-extra-light-30: rgba(169, 169, 169, 0.3);
  --text-white: #FFFFFF;
  --text-white-50: rgba(250, 250, 250, 0.5);
  --text-white-30: rgba(250, 250, 250, 0.3);
  --toggle-color: #ABABAB;
  --toggle-color-30: rgba(171, 171, 171, 0.3);
}

/* Global */
.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;
  min-width: 960px;
  min-height: 100%;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--text-black);
  background: var(--text-white);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.hidden {
  display: none;
}

/* Header */

.main-header {
  background: var(--bg-light);
  margin-bottom: 59px;
}


.header-top-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.main-header-top {
  background: var(--bg-dark);
  margin-bottom: 46px;
}

.logo {
  display: block;
  box-sizing: border-box;
  background: var(--accent-color);
}

.header-logo {
  width: 220px;
  height: 42px;
  padding: 12px 56px;
  box-shadow: 0 5px var(--click-accent);
}

.header-logo[href]:active,
.footer-logo[href]:active {
  background: var(--click-accent);
}

.search {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.search-field {
  display: block;
  width: 228px;
  height: 42px;
  margin: 0;
  padding: 0;
  padding-left: 42px;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-white);
  background: transparent;
  border: none;
}

.search:hover .search-icon {
  opacity: 1;
}

.search:focus-within .search-icon,
.search:active .search-icon {
  opacity: 1;
}

.search:focus-within .search-icon path,
.search:active .search-icon path {
  fill: var(--accent-color);
}

.search-field::placeholder {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.search-field:focus {
  outline: 0;
  color: var(--text-black);
  background: var(--text-white);
}

.search-field::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
}

.search-field:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1;
}

.user-link {
  display: block;
  box-sizing: border-box;
  width: 150px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-white);
}

.bookmark {
  position: relative;
  text-align: right;
  padding-left: 23px;
  padding-right: 24px;
}

.bookmark::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 20px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icons/icon-bookmark.svg");
  opacity: 0.3;
}

.cart {
  position: relative;
  text-align: right;
  padding-left: 26px;
  padding-right: 23px;
}

.cart::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 25px;
  width: 15px;
  height: 15px;
  background: url("../img/icons/icon-cart.svg");
  opacity: 0.3;
}

.bookmark:hover::before,
.bookmark:focus::before,
.cart:hover::before,
.cart:focus::before {
  opacity: 1;
}

.order {
  padding-left: 19px;
  padding-right: 16px;
}

.bookmark:active,
.cart:active {
  opacity: 0.5;
  background: var(--click-header);
}

.order {
  background: var(--order-color);
}

.order:focus,
.order:hover {
  background: var(--hover-order);
}

.order:active {
  color: var(--text-white-50);
  background: var(--order-color);
}

.main-header-middle {
  display: flex;
  margin-bottom: 41px;
}

.description {
  margin: 0;
  margin-top: -4px;
  padding-left: 30px;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  color: var(--accent-color);
}

.header-contacts {
  margin-left: 92px;
  margin-right: auto;
  text-align: center;
}

.header-phone {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 4px 45px 6px 37px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--accent-color);
  border: 3px solid var(--text-white);
}

.header-phone:focus,
.header-phone:hover {
  color: var(--socials-color);
}

.header-phone:active {
  color: var(--click-user);
}

.header-phone::before {
  content: "";
  margin-right: 17px;
  width: 19px;
  height: 19px;
  background: url("../img/icons/icon-phone.svg");
}

.header-contacts p {
  margin: 0;
  margin-left: 5px;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-dark);
}

.user-id {
  display: flex;
  justify-content: space-between;
  width: 281px;
  height: 45px;
}

.user-id-login {
  display: flex;
  align-items: center;
  width: 75px;
  padding: 12px 27px 12px 19px;
  font-size: 21px;
  line-height: 21px;
  color: var(--text-black);
  background: var(--text-white);
}

.user-id-login svg {
  margin-right: 6px;
  width: 20px;
  height: 17px;
}

.user-id-signup {
  display: block;
  padding: 12px 24px;
  font-size: 21px;
  line-height: 21px;
  color: var(--text-black);
  background: var(--text-white);
}

.user-id a:focus,
.user-id a:hover {
  color: var(--accent-color);
}

.user-id a:focus path,
.user-id a:hover path {
  fill: var(--hover-icon);
}

.user-id a:active {
  color: var(--click-user);
}

.user-id a:active path {
  fill: var(--click-user);
}

.header-navigation {
  margin-bottom: 60px;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-white);
  background: var(--text-dark);
}

.menu-list {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  box-shadow: inset 0 -5px var(--bg-dark);
}

.menu-item {
  display: block;
  padding: 16px 28px 20px;
  color: var(--text-white);
}

.menu-item[href]:focus,
.menu-item[href]:hover {
  background: var(--bg-dark);
}

.menu-item[href]:active {
  opacity: 0.5;
}

/* Range */

.range {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 59px;
}

.range-item {
  padding: 20px 31px 0 23px;
  width: 246px;
  height: 103px;
}

.range-item h3 {
  margin: 0;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 30px;
  color: var(--text-white);
}

.range-item a {
  display: block;
  width: 135px;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-white);
  background: var(--text-white-30);
}

.materials {
  background: var(--range);
}

.materials::after {
  position: absolute;
  content: "";
  top: 30px;
  right: 43px;
  width: 44px;
  height: 65px;
  background: url("../img/icons/bucket.svg") no-repeat;
}

.new {
  position: relative;
  overflow: hidden;
}

.new-sign {
  display: block;
  position: absolute;
  top: 8px;
  right: -35px;
  width: 100px;
  padding: 7px 10px 5px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-white);
  background: var(--accent-color);
  border: none;
  transform: rotate(45deg);
}

.tools {
  position: relative;
  background: var(--range-tools);
}

.tools::after {
  position: absolute;
  content: "";
  top: 33px;
  right: 31px;
  width: 75px;
  height: 61px;
  background: url(../img/icons/drill.svg) no-repeat;
}

.tech {
  position: relative;
  background: var(--range-machines);
}

.tech::after {
  position: absolute;
  content: "";
  top: 31px;
  right: 31px;
  width: 78px;
  height: 62px;
  background: url(../img/icons/tractor.svg) no-repeat;
}

.sale {
  position: relative;
  grid-column: 3/4;
  grid-row: 2/3;
  background: var(--range-sale);
}

.sale h3 {
  margin-bottom: 10px;
}

.sale a {
  padding-top: 12px;
}

.sale::after {
  position: absolute;
  content: "";
  top: 25px;
  right: 45px;
  width: 59px;
  height: 72px;
  background: url(../img/icons/shopping-trolley.svg) no-repeat;
}

.free-delivery {
  position: relative;
  grid-column: 3/4;
  grid-row: 3/4;
  background: var(--range);
}

.free-delivery a {
  padding-left: 10px;
  padding-right: 10px;
}

.free-delivery::after {
  position: absolute;
  content: "";
  top: 32px;
  right: 31px;
  width: 78px;
  height: 62px;
  background: url(../img/icons/truck.svg) no-repeat;
}

.range-item a:focus,
.range-item a:hover {
  background: var(--click-user-30);
}

.range-item a:active {
  background: var(--text-extra-light-30);
}

/* Range Slider */

.gallery {
  position: relative;
  grid-column: 1/3;
  grid-row: 2/4;
}

.gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery-slider {
  box-sizing: border-box;
  width: 620px;
  height: 266px;
}

.gallery-slider-title {
  margin: 0;
  padding: 0;
  padding: 23px 10px 5px 24px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text-white);
  background: var(--text-black-25);
}

.gallery p {
  margin: 0;
  margin-bottom: 96px;
  padding: 0;
  padding: 0 10px 16px 24px;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: var(--text-white);
  background: var(--text-black-25);
}

.gallery .button {
  margin-left: 24px;
}

.perforators {
  background: var(--click-user) url("../img/perforator.jpg") no-repeat;
}

.drills {
  background: var(--click-user) url("../img/drill.jpg") no-repeat;
}

.gallery-arrow {
  position: absolute;
  content: "";
  width: 22px;
  height: 40px;
  cursor: pointer;
  border: none;
}

.gallery-arrow-back {
  top: 122px;
  left: 24px;
  background: url("../img/icons/icon-arrow.svg");
}

.gallery-arrow-next {
  top: 122px;
  right: 20px;
  transform: rotate(180deg);
  background: url("../img/icons/icon-arrow.svg");
}

.gallery-button-dots {
  display: flex;
  position: absolute;
  bottom: 36px;
  left: 295px;
}

.gallery-button-dot {
  content: "";
  width: 10px;
  height: 10px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  border-radius: 50%;
  background: var(--text-white);
  border: 2px solid var(--text-white);
  cursor: pointer;
}

.gallery-button-dot:last-child {
  margin: 0;
}

.button-dot-current {
  background: var(--accent-color);
}

/* button */

.button {
  display: block;
  box-sizing: border-box;
  width: 192px;
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-white);
  background: var(--accent-color);
  border: none;
}

.button:focus,
.button:hover {
  background: var(--hover-accent);
}

.button:active {
  background: var(--click-accent);
}

/* popular */

.popular {
  margin-bottom: 70px;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  background: var(--bg-extra-light);
  margin-bottom: 20px;
  padding: 25px 14px 25px 30px;
}

.highlight-headline {
  margin: 0;
  margin-right: 10px;
  align-self: center;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--text-dark);
}

.popular .button {
  align-self: center;
}

.popular-goods-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
}

.good-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid var(--border-color);
}

.product-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 9px;
  height: 170px;
  order: -1;
}

.product-image img {
  margin: auto;
}

.good-item h3 {
  margin: 0 17px 8px;
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--text-black);
}

.good-item s {
  margin: 0 auto 13px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: var(--text-extra-light);
}

.current-price {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 125px;
  margin: auto 34px 21px 45px;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: var(--text-white);
  background: var(--accent-color);
  border-radius: 3px;
}

.current-price::after {
  position: absolute;
  content: "";
  top: 6px;
  right: -11px;
  width: 26px;
  height: 26px;
  transform: rotate(45deg);
  background: var(--accent-color);
}

.good-item:focus,
.good-item:hover,
.brand-item:focus,
.brand-item:hover {
  box-shadow: 0px 4px 20px var(--text-black-15);
}

.good-item:focus .product-image,
.good-item:hover .product-image {
  display: none;
}

.good-item:focus .card-action-buttons,
.good-item:hover .card-action-buttons {
  display: block;
}


.card-action-buttons {
  display: none;
  margin-top: 38px;
  margin-bottom: 52px;
  order: -1;
}

.buy {
  display: flex;
  box-sizing: border-box;
  width: 135px;
  height: 38px;
  padding: 10px 12px 10px 25px;
  margin: 0 auto 10px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-white);
  background: var(--order-color);
  box-shadow: inset 0 -2px 0 0 var(--shadow-order);
  border-radius: 2px;
}

.buy::before {
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 8px;
  background: url("../img/icons/icon-cart.svg") no-repeat;
  opacity: 0.3;
}

.buy:focus,
.buy:hover {
  background: var(--hover-order);
}

.buy:active {
  background: var(--click-order);
}

.add-mark {
  display: block;
  box-sizing: border-box;
  width: 135px;
  height: 38px;
  margin: 0 auto;
  padding: 8px 27px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-dark);
  border: 3px solid var(--order-color);
  border-radius: 2px;
}

.add-mark:focus,
.add-mark:hover {
  border: 3px solid var(--text-dark);
}

.add-mark:active {
  border: 3px solid var(--text-dark);
  opacity: 0.5;
}

/* Brands */

.brands {
  margin-bottom: 70px;
}

.brands .button {
  align-self: center;
}

.brands-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  list-style: none;
}

.brand-item {
  display: flex;
  width: 218px;
  height: 142px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
}

.brand-item:active {
  opacity: 0.15;
}

/* Features */

.features {
  margin-bottom: 70px;
  padding-top: 65px;
  background: var(--bg-light);
}

.headline {
  margin: 0;
  margin-bottom: 26px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.feature-slide h3 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--text-dark);
}

.features-text {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.feature-slide p {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.features-wrapper {
  padding: 0;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 240px 1fr;
}

.features-slider-buttons {
  position: relative;
  padding: 40px 0;
}

.features-slider-buttons::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 279px;
  top: 0;
  left: 230px;
  background: url("../img/border-line.png") no-repeat;
}

.feature-button {
  box-sizing: border-box;
  width: 240px;
  height: 61px;
  padding: 13px 22px 20px 22px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  color: var(--text-white);
  background: var(--text-dark);
  border: none;
}

.feature-button:focus,
.feature-button:hover {
  background: var(--bg-dark);
}

.feature-button-active {
  color: var(--text-dark);
  background: var(--text-white);
}

.feature-button-active:focus,
.feature-button-active:hover {
  color: var(--text-dark);
  background: var(--text-white);
}

.features-slider-list {
  margin: 0;
  margin-left: 80px;
  padding: 0;
  padding-top: 38px;
  list-style: none;
}

.feature-slide {
  min-height: 188px;
}

.delivery {
  background: url("../img/service-delivery.png") no-repeat right 20px;
}

.guarantee {
  background: url("../img/service-guarantee.png") no-repeat right 20px;
}

.credit {
  background: url("../img/service-credit.png") no-repeat 155px 0;
}

/* About-us */
.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}

.about-us {
  width: 460px;
}

.about-us p {
  margin: 0;
  margin-bottom: 25px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-us p:last-of-type {
  margin: 3px;
}

.trans-list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 37px;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.trans-item {
  position: relative;
  margin-bottom: 12px;
}

.trans-item::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  left: -37px;
  top: 10px;
  background: var(--accent-color);
}

.about-us .button {
  width: 220px;
}

/* contacts */
.contacts {
  width: 300px;
}

.contacts p {
  margin: 0;
  margin-bottom: 32px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.contacts-mini-map {
  display: block;
  margin-bottom: 25px;
}

.contacts .button {
  width: 300px;
}

/* Footer */
.main-footer {
  background: var(--text-dark);
}

.main-footer-top {
  display: grid;
  grid-template-columns: min-content 1fr;
  margin-bottom: 54px;
}

.footer-logo {
  box-sizing: border-box;
  width: 220px;
  height: 62px;
  margin-bottom: 30px;
  padding: 20px 42px;
  box-shadow: 0 5px var(--click-accent);
}

.footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  margin-top: 37px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-white);
  background: var(--text-dark);
}

.footer-menu-list li {
  margin-right: 58px;
}

.footer-menu-list li:last-child {
  margin-right: 0;
}

.footer-menu-item {
  display: block;
  color: var(--text-white);
}

.footer-top-text {
  margin: 0 58px 0 3px;
  padding: 0;
  width: 333px;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-white);
}

.footer-tel {
  color: inherit;
}

.sub-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  margin-top: 5px;
  margin-left: 22px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-white);
  background: var(--text-dark);
}

.sub-menu-item,
.copyright {
  color: var(--text-light);
}

.footer-menu-item[href]:focus,
.footer-menu-item[href]:hover,
.sub-menu-item:focus,
.sub-menu-item:hover,
.copyright:focus,
.copyright:hover,
.footer-tel:focus,
.footer-tel:hover {
  text-decoration-line: underline;
}

.footer-menu-item[href]:active,
.sub-menu-item:active {
  text-decoration: none;
  opacity: 0.5;
}

.main-footer-bottom {
  background: var(--bg-dark);
}

.footer-bottom-wrapper {
  display: flex;
  padding: 35px 140px 34px;
}

.footer-text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-white);
}

.socials-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  margin-left: 155px;
  margin-right: 118px;
  padding: 0;
}

.social-item {
  display: block;
  width: 44px;
  height: 44px;
  margin-right: 1px;
  border-radius: 50%;
}

.social-vk {
  background: url("../img/icons/icon-vk.svg") center no-repeat, var(--socials-color);
}

.social-fb {
  background: url("../img/icons/icon-fb.svg") center no-repeat, var(--socials-color);
}

.social-inst {
  background: url("../img/icons/icon-insta.svg") center no-repeat, var(--socials-color);
}

.social-vk:hover,
.social-vk:focus,
.social-vk:active,
.social-fb:hover,
.social-fb:focus,
.social-fb:active,
.social-inst:hover,
.social-inst:focus,
.social-inst:active {
  background-color: var(--accent-color);
}

.footer-feedback {
  display: block;
  margin-right: 51px;
}

.copyright:active {
  color: var(--accent-color);
  text-decoration: none;
}

/* Modals */

.contact-form label {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.contact-form input[placeholder],
.contact-form textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--text-extra-light);
}

.contact-form input,
.contact-form textarea {
  border: 2px solid var(--click-user);
  border-radius: 2px;
}

.contact-form textarea {
  width: 460px;
  min-height: 114px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: 0;
  border: 2px solid var(--text-extra-light);
}

.modal-cart p {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.button-continue {
  text-align: center;
  text-transform: uppercase;
  background: var(--text-white);
  border: none;
}

.button-continue:focus,
.button-continue:hover {
  color: var(--accent-color);
}

.button-continue:active {
  color: var(--text-extra-light);
}

/* CATALOG */
/* header */

.catalog-page header {
  margin-bottom: 21px;
}

.full-cart {
  background: var(--accent-color);
}

.added-bookmark {
  background: var(--click-accent);
}

.user-box {
  width: 299px;
}

.user-profile-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 17px 12px 15px;
  font-size: 21px;
  line-height: 21px;
  background: var(--text-white);
}

.user-profile span {
  margin-left: 15px;
  color: var(--text-black);
}

.additional-links {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.additional-links a {
  display: block;
  margin-top: 5px;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-dark);
}

.additional-links-order {
  position: relative;
  margin-right: 30px;
}

.additional-links-order::after {
  position: absolute;
  content: "";
  top: 7px;
  right: -15px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--hover-border);
}

.additional-links a:focus,
.additional-links a:hover {
  color: var(--accent-color);
}

.additional-links a:active {
  color: var(--click-user);
}

.user-box a:focus,
.user-box a:hover {
  color: var(--text-black);
}

/* main-catalog */

.catalog-wrapper {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
  margin-bottom: 59px;

}

/* breadcrumps */

.breadcrumps {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-column: 1/-1;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumps-item {
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--text-black);
}

.breadcrumps-item:not(.breadcrumps-item-main) {
  position: relative;
  padding-left: 42px;
}

.breadcrumps-item-main {
  width: 14px;
  height: 12px;
  background: url(../img/icons/icon-home.svg) center no-repeat;
}

.breadcrumps-item:not(.breadcrumps-item-main)::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 12px;
  top: 3px;
  left: 17px;
  background: url("../img/icons/icon-right-small.svg") center no-repeat;
}

.breadcrumps-item:focus,
.breadcrumps-item:hover {
  text-decoration-line: underline;
}

.breadcrumps-item:active {
  color: var(--accent-color);
  text-decoration: none;
}

.breadcrumps-item-current:focus,
.breadcrumps-item-current:hover,
.breadcrumps-item-current:active {
  color: var(--text-black);
  text-decoration: none;
}

.page-title {
  grid-column: 1/-1;
  margin: 0;
  padding: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-dark);
  background: var(--bg-light);
}

/* fieldset */

.filters {
  grid-row: 3/4;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.sub-title {
  margin: 0;
  margin-bottom: 14px;
  padding: 10px 18px;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  background: var(--bg-catalog);
}

.filter-item {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--text-black-10);
}

.filter-item:nth-child(3) {
  border: none;
}

.range-filter {
  width: 220px;
}

.range-panel {
  position: relative;
  height: 41px;
  border-radius: 3px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  background: var(--bg-catalog);
}

.range-panel .scale {
  height: 2px;
  background: var(--click-user);
}

.range-panel .bar {
  width: 84%;
  height: 2px;
  background: var(--order-color);
}

.range-panel .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  background: var(--toggle-color);
  border: 8px solid var(--text-white);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 var(--toggle-color-30);
}

.range-panel .toggle-min {
  left: 18px;
}

.range-panel .toggle-max {
  left: 168px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}

.filter-price-min,
.filter-price-max {
  width: 95px;
  height: 38px;
  background: var(--bg-catalog);
  border: none;
  border-radius: 3px;
  text-align: center;
}

.filter-price-min::placeholder,
.filter-price-max::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: var(--text-black);
}

.filter-price-min:focus,
.filter-price-max:focus {
  outline: 1px solid var(--click-user);
}

.filter legend {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter .filter-price-title {
  margin-bottom: 11px;
}

.filter label {
  font-size: 15px;
  line-height: 19px;
}

.manufacturers-list,
.battery-list {
  margin: 0;
  padding: 0;
  padding-left: 35px;
  padding-bottom: 9px;
  list-style: none;
}

.manufacturers-list li,
.battery-list li {
  margin-bottom: 20px;
}

.manufacturers-list label,
.battery-list label {
  display: block;
  position: relative;
  cursor: pointer;
}

.filter-checkbox+label::before,
.filter-checkbox:checked+label::after {
  position: absolute;
  content: "";
  top: -3px;
  left: -35px;
  width: 23px;
  height: 23px;
  background-color: var(--click-user);
}

.filter-checkbox+label::before {
  -webkit-mask-image: url("../img/icons/checkbox-off.svg");
}

.filter-checkbox:checked+label::after {
  -webkit-mask-image: url("../img/icons/checkbox-on.svg");
}

.filter-radio+label::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -35px;
  width: 17px;
  height: 17px;
  border: 4px solid var(--click-user);
  border-radius: 50%;
}

.filter-radio:checked+label::after {
  position: absolute;
  content: "";
  top: 3px;
  left: -27px;
  width: 9px;
  height: 9px;
  background-color: var(--click-user);
  border-radius: 50%;
}

.filter-checkbox:checked+label::before {
  display: none;
}

.filter-checkbox:hover+label::before,
.filter-checkbox:checked:hover+label::after {
  background-color: var(--toggle-color);
}

.filter-checkbox:disabled+label::before,
.filter-checkbox:disabled+label::after,
.filter-checkbox:disabled+label {
  opacity: 0.4;
  cursor: default;
}

.filter-radio:hover+label::before {
  border-color: var(--toggle-color);
}

.filter-radio:checked:hover+label::after {
  background-color: var(--toggle-color);
}

.filter-radio:disabled+label::before,
.filter-radio:disabled+label::after,
.filter-radio:disabled+label {
  opacity: 0.4;
  cursor: default;
}

/* submit*/

.show {
  box-sizing: border-box;
  width: 220px;
  padding: 10px;
}

/* paggination */
.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.show,
.pagination-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-black);
  background: transparent;
  border: 1px solid var(--paggination-color);
}

.pagination-item {
  display: block;
  margin-right: 10px;
  padding: 10px 15px;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
}

.pagination-item-next {
  width: 140px;
}


.show:focus,
.show:hover,
.pagination-item[href]:focus,
.pagination-item[href]:hover {
  border: 1px solid var(--click-user);
}

.show:active,
.pagination-item[href]:active {
  border: 1px solid var(--accent-color);
}

.pagination-item-current {
  color: var(--text-white);
  background: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* sorting-box */
.sorting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 26px;
  padding: 10px 14px 10px 19px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background: var(--bg-catalog);
}

.sorting h3 {
  margin: 0;
  margin-right: 140px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 354px;
  list-style: none;
}

.sorting-item {
  color: var(--text-black);
  opacity: 0.3;
  border-bottom: 1px dotted var(--accent-color);
}

.sorting-range-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 43px;
  margin: 0;
  margin-left: 46px;
  padding: 0;
  list-style: none;
}

.sorting-item:focus,
.sorting-item:hover {
  opacity: 1;
  border-bottom: 2px solid var(--accent-color);
}

.sorting-active {
  color: var(--accent-color);
  opacity: 1;
  border: none;
}

.sorting-range-item path:focus,
.sorting-range-item path:hover {
  fill: var(--text-black);
}

.sorting-range-active path {
  fill: var(--accent-color);
}

/* cards */

.goods-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
  list-style: none;
  font-family: "PT Sans", "Arial", sans-serif;
}

/* info section */

.note {
  padding-top: 64px;
  padding-bottom: 68px;
  background: var(--bg-light);
}

.note p {
  margin: 0;
  margin-top: 25px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}
