/* Fonts */

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/cuprum.woff2) format("woff2"),
    url(../fonts/cuprum.woff) format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/cuprumbold.woff2) format("woff2"),
    url(../fonts/cuprumbold.woff) format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url(../fonts/cuprumitalic.woff2) format("woff2"),
    url(../fonts/cuprumitalic.woff) format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url(../fonts/cuprumbolditalic.woff2) format("woff2"),
    url(../fonts/cuprumbolditalic.woff) format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ptsans.woff2) format("woff2"),
    url(../fonts/ptsans.woff) format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ptsansbold.woff2) format("woff2"),
    url(../fonts/ptsansbold.woff) format("woff");
}

/* Variables */

:root {
  --accent-color: #EE3643;
  --bg-dark: #293449;
  --bg-light: #F1F5F7;
  --bg-extra-light: #F9F5F0;
  --bg-modals: #F4F4F4;
  --bg-catalog: #F7F3EC;
  --border-color: #EAEAEA;
  --click-accent: #BA2732;
  --click-header: #161D29;
  --click-menu: #1D2739;
  --click-order: #518534;
  --click-user: #C5C5C5;
  --click-user-30: rgba(197, 197, 197, 0.3);
  --hover-icon: #3D546F;
  --hover-accent: #CA2C37;
  --hover-order: #5FBB2D;
  --hover-border: #32425C;
  --hover-paggination: #B5B5B5;
  --order-color: #63A63E;
  --paggination-color: #E5E5E5;
  --range: #FFBF47;
  --range-tools: #3BBCE3;
  --range-machines: #DC91D8;
  --range-sale: #8ED78F;
  --socials-color: #212A3A;
  --text-black: #000000;
  --text-black-15: rgba(0,0,0,0.15);
  --text-dark: #32425C;
  --text-light: #FFD180;
  --text-extra-light: #A9A9A9;
  --text-extra-light-30: rgba(169, 169, 169, 0.3);
  --text-white: #FFFFFF;
  --text-white-50: rgba(250, 250, 250, 0.5);
  --text-white-30: rgba(250, 250, 250, 0.3);
}

/* Global */
.page {
  height: 100%;
}

.page-body {
  margin: 0;
  padding: 0;
  min-width: 960px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--text-black);
  background: var(--text-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.hidden {
  display: none;
}

/* Header */

.main-header {
  background: var(--bg-light);
}

.index-header {
  margin-bottom: 59px;
}

.main-header-top {
  background: var(--bg-dark);
  margin-bottom: 41px;
}

.logo {
  display: block;
  background: var(--accent-color);
}

.header-logo {
  width: 107px;
  height: 17px;
  padding: 12px 56px;
}

.header-logo[href]:active,
.footer-logo[href]:active {
  background: var(--click-accent);
}

.search-field {
  background: transparent;
  border: none;
}

.user-links a,
.search-field {
  font-size: 18px;
  line-height: 24px;
  color: var(--text-white);
}

.search-field::placeholder {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.search-field:focus {
  outline: 0;
  color: var(--text-black);
  background: var(--text-white);
}

.search-field::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
}

.search-field:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
}

.user-links a:focus::before,
.user-links a:hover::before,
.search-field:hover::before {
  background: var(--text-white);
}

.bookmark:active,
.cart:active {
  opacity: 0.5;
  background: var(--click-header);
}

.order {
  background: var(--order-color);
}

.order:focus,
.order:hover {
  background: var(--hover-order);
}

.order:active {
  color: var(--text-white-50);
  background: var(--order-color);
}

.main-header-middle p {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--accent-color);
}

.header-phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--accent-color);
}

.header-phone:focus,
.header-phone:hover{
  color: var(--socials-color);
}

.header-phone:active {
  color: var(--click-user);
}

.header-contacts p {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-dark);
}

.user-id a {
  font-size: 21px;
  line-height: 21px;
  color: var(--text-black);
  background: var(--text-white);
}

.user-id a:focus,
.user-id a:hover {
  color: var(--accent-color);
}

.user-box a:focus,
.user-box a:hover {
  color: var(--text-black);
}

.user-id a:active {
  color: var(--click-user);
}

.additional-links {
  list-style: none;
}

.additional-links a {
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-dark);
}

.additional-links a:focus,
.additional-links a:hover {
  color: var(--accent-color);
}

.additional-links a:active {
  color: var(--click-user);
}

.header-navigation {
  margin-bottom: 60px;
}

.menu-list,
.footer-menu-list,
.sub-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-white);
  background: var(--text-dark);
}

.menu-item,
.footer-menu-item {
  color: var(--text-white);
}

.menu-item[href]:focus,
.menu-item[href]:hover {
  background: var(--bg-dark);
}

.menu-item[href]:active {
  opacity: 0.5;
}

/* Range */

.range {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 59px;
}

.range-item {
  width: 300px;
  height: 123px;
}

.range-item h3 {
  font-size: 24px;
  line-height: 30px;
  color: var(--text-white);
}

.range-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--text-white);
  background: var(--text-white-30);
}

.materials {
  background: var(--range);
}

.tools {
  background: var(--range-tools);
}

.tech {
  background: var(--range-machines);
}

.sale {
  grid-column: 3/4;
  grid-row: 2/3;
  background: var(--range-sale);
}

.free-delivery {
  grid-column: 3/4;
  grid-row: 3/4;
  background: var(--range);
}

.range-item a:focus,
.range-item a:hover {
  background: var(--click-user-30);
}

.range-item a:active {
  background: var(--text-extra-light-30);
}

/* Range Slider */

.gallery {
  grid-column: 1/3;
  grid-row: 2/4;
}

.gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery-slider {
  width: 620px;
  height: 266px;
}

.gallery-slider-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--text-white);
  margin:0;
}

.gallery p {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: var(--text-white);
}

.perforators {
  background: var(--click-user) url("../img/perforator.jpg") no-repeat;
}

.drills {
  background: var(--click-user) url("../img/drill.jpg") no-repeat;
}

.button,
.new {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-white);
  background: var(--accent-color);
  border: none;
}

.button:focus,
.button:hover {
  background: var(--hover-accent);
}

.button:active {
  background: var(--click-accent);
}

/* Popular */

.popular {
  margin-bottom: 70px;
}

.highlight-headline {
  margin:0;
  padding: 30px 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--text-dark);
  background: var(--bg-extra-light);
}

.popular-goods-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
}

.popular-goods-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.good-item,
.brand-item {
  border: 1px solid var(--border-color);
}

.good-item:focus,
.good-item:hover,
.brand-item:focus,
.brand-item:hover {
  box-shadow: 0px 4px 20px var(--text-black-15);

}

.good-item h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--text-black);
}

.good-item s {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: var(--text-extra-light);
}

.current-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: var(--text-white);
  background: var(--accent-color);
}

.buy {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-white);
  background: var(--order-color);
  border-bottom: 2px solid var(--order-color);
  border-radius: 2px;
}

.buy:focus,
.buy:hover {
  background: var(--hover-order);
}

.buy:active {
  background: var(--click-order);
}

.add-mark {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-dark);
  border: 3px solid var(--order-color);
  border-radius: 2px;
}

.add-mark:focus,
.add-mark:hover {
  border: 3px solid var(--text-dark);
}

.add-mark:active {
  border: 3px solid var(--text-dark);
  opacity: 0.5;
}

/* Brands */

.brands {
  margin-bottom: 70px;
}

.brands-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  list-style: none;
}

.brand-item {
  display: flex;
  width: 220px;
  height: 145px;
  justify-content: center;
  align-items: center;
}

.brand-item:active {
  opacity: 0.15;
}

/* Features */

.features {
  margin-bottom: 70px;
  padding-top: 64px;
  background: var(--bg-light);
}

.headline {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.feature-slide h3 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--text-dark);
}

.features p,
.about-us p,
.contacts p {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.credit p {
  margin-bottom: 27px;
}

.features-wrapper {
  margin-top: 70px;
  padding:0;
  padding-bottom: 99px;
  display: grid;
  grid-template-columns: 240px 1fr;
}

.feature-button {
  width: 240px;
  height: 61px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: var(--text-white);
  background: var(--text-dark);
  border: none;
}

.feature-button:focus,
.feature-button:hover {
  background: var(--bg-dark);
}

.feature-button-active {
  color: var(--text-dark);
  background: var(--text-white);
}

.feature-button-active:focus,
.feature-button-active:hover {
  color: var(--text-dark);
  background: var(--text-white);
}

.features-slider-list {
  margin:0;
  margin-left: 80px;
  padding: 0;
  list-style: none;
}

/* About-us */
.index-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

.about-us, .contacts {
  margin-bottom: 70px;
}

.about-us .headline,
.contacts .headline {
  margin-bottom: 25px;
}

.trans-list,
.contact-form label {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

/* contacts */
/* Footer */
.main-footer {
  background: var(--text-dark);
}

.main-footer-top {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.footer-logo {
  width: 137px;
  height: 27px;
  padding: 21px 42px 25px;
}

.footer-top-text {
  font-size: 18px;
  line-height: 24px;
  color: var(--text-white);
}

.footer-tel {
  color: inherit;
}

.main-footer p {
  margin: 0;
}

.sub-menu-item,
.copyright {
  color: var(--text-light);
}

.footer-menu-item[href]:focus,
.footer-menu-item[href]:hover,
.sub-menu-item:focus,
.sub-menu-item:hover,
.copyright:focus,
.copyright:hover,
.footer-tel:focus,
.footer-tel:hover {
  text-decoration-line: underline;
}

.footer-menu-item[href]:active,
.sub-menu-item:active {
  text-decoration: none;
  opacity: 0.5;
}

.main-footer-bottom {
  background: var(--socials-color);
}

.footer-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--text-white);
}

.socials-list {
  list-style: none;
}

.copyright:active {
  color: var(--accent-color);
  text-decoration: none;
}

/* Modals */

.contact-form input[placeholder],
.contact-form textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--text-extra-light);
}

.contact-form input,
.contact-form textarea {
  border: 2px solid var(--click-user);
  border-radius: 2px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: 0;
  border: 2px solid var(--text-extra-light);
}

.modal-cart p {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.button-continue {
  text-align: center;
  text-transform: uppercase;
  background: var(--text-white);
  border: none;
}

.button-continue:focus,
.button-continue:hover {
  color: var(--accent-color);
}

.button-continue:active {
  color: var(--text-extra-light);
}

/* CATALOG */
/* header */
.full-cart {
  background: var(--accent-color);
}

.added-bookmark {
  background: var(--click-accent);
}

/* main-catalog */

.catalog-wrapper {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
  margin-bottom: 59px;

}

.breadcrumps {
  grid-column: 1/-1;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumps-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--text-black);
}

.breadcrumps-item:focus,
.breadcrumps-item:hover {
  text-decoration-line: underline;
}

.breadcrumps-item:active {
  color: var(--accent-color);
  text-decoration: none;
}

.breadcrumps-item-current:focus,
.breadcrumps-item-current:hover,
.breadcrumps-item-current:active {
  color: var(--text-black);
  text-decoration: none;
}

.page-title {
  grid-column: 1/-1;
  margin: 0;
  padding: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-dark);
  background: var(--bg-light);
}

/* fieldset */

.filters {
  grid-row: 3/4;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.sub-title {
  margin: 0;
  padding: 10px 18px;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  background: var(--bg-catalog);
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter label {
  font-size: 15px;
  line-height: 19px;
}

.filter-price-min,
.filter-price-max {
  background: var(--bg-catalog);
  border: none;
  border-radius: 2px;
}

.filter-price-min::placeholder,
.filter-price-max::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: var(--text-black);
}

.filter-price-min:focus,
.filter-price-max:focus {
  outline: 1px solid var(--click-user);
}

.manufacturers-list,
.battery-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* submit*/

.show,
.pagination-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color:var(--text-black);
  background: transparent;
  border: 1px solid var(--paggination-color);
}

.show:focus,
.show:hover,
.pagination-item[href]:focus,
.pagination-item[href]:hover {
  border: 1px solid var(--click-user);
}

.show:active,
.pagination-item[href]:active {
  border: 1px solid var(--accent-color);
}

.pagination-item-current {
  color: var(--text-white);
  background: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* sorting-box */
.sorting {
  margin: 0;
  margin-bottom: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background: var(--bg-catalog);
}

.sorting h3 {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-item {
  color: var(--text-black);
  opacity: 0.3;
  border-bottom: 2px dotted var(--accent-color);
}

.sorting-range-list {
  list-style: none;
}

.sorting a:focus,
.sorting a:hover {
  opacity: 1;
  border-bottom: 2px solid var(--accent-color);
}

.sorting-active {
  color: var(--accent-color);
  opacity: 1;
  border: none;
}

/* cards */

.goods-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
  list-style: none;
  font-family: "PT Sans", "Arial", sans-serif;
}


/* paggination */
.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* info section */

.note {
  padding-top: 64px;
  padding-bottom: 68px;
  background: var(--bg-light);
}

.note p {
  margin: 0;
  margin-top: 25px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}
